.aside-container {
  padding-top: 10px;
  padding-left: 10px;
  width: 280px;
}

ul {
  padding-top: 44px;
}
li {
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
  padding-left: 8px;
}
li a {
  display: inline-block;
  width: 84%;
  color: #667085;

  text-decoration: none;
}
.icons {
  color: #667085;
  font-size: 18px;
}
